
body {
    margin: 0;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* To prevent horizontal scrollbar */
    position: relative;
}
/* Leonilized */
.text-white {
    color: #fff;
}

#myDiv {
    width: 25vw; /* 25% of the viewport width */
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    align-items: center;
    background-color: green;
    position: absolute;
    top: 0;
    right: 0; /* Initially positioned outside the viewport */
    transition: right 0.3s ease; /* Transition effect for smooth sliding */
}
.btn-tab {
    position: absolute;
    left: -48px;
    top:40%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: green;
}

.tab-btn {
    padding: 12px;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: green;
    color: #fff;
}

.visible {
    right: -25vw !important; /* Slide in from the right */
}

button {
    z-index: 1; /* Ensure the button is on top of the absolute div */
}

#unity-container {
    width: 100%;
    height: 100vh; /* Cover the full height of the viewport */
    background-color: black;
    float: left; /* To ensure side-by-side alignment */
}

#video-container {
    background-color: green;
}

#unity-canvas {
    width: 100% !important;
    height: 100% !important;
}

#local-player {
    margin-top: 5px;
    width: 95%; 
    height: 24vh; 
    background-color: black;
    margin-left: 15px;
    margin-right: 15px;
}

#local-player-name {
    margin-left: 15px;
}

.player {
    margin-top: 5px;
    width: 95%; 
    height: 24vh; 
    background-color: black;
    margin-left: 15px;
    margin-right: 15px;
}

/* #join {
    order: -1;
    width: 22%;
    height: 30px;
    margin-top: -35px; 
    margin-left: 10px;
}

#leave {
    order: -1;
    width: 22%;
    height: 30px;
    margin-left: 10px; 
} */

.buttons-container {
    position: absolute;
    margin-top: -60px !important;
    width: 100%;
}

#local-player-name{
    display: flex;
    order: -1;
    position: absolute;
    margin-top: 20px !important;
    color: black;
    z-index: 1; 
    margin-left: 20px !important;
}

.player-name{
    display: flex;
    order: -1;
    position: absolute;
    margin-top: 20px !important;
    color: black;
    z-index: 1; 
    margin-left: 20px !important;
}


/* #unity-canvas { width: 100%; height: 100% } */
/* .unity-mobile #unity-canvas { width: 100%; height: 100% } */
#unity-loading-bar { position: absolute; left:35%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
